.main-container {
    width: 100%;
}

.eproductos {
    width: 14%;
    border: 2px solid #ffe4c4;
    border-radius: 10px;
    margin: 1px;
}

.btn-carrito{
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 44px;
    cursor: pointer;
}